<div class="cart">
  <h2>Granska din kundvagn</h2>
  <div class="info"> Lite info om kundvagnen</div>
  <app-item *ngFor="let item of cart.items" [item]="item"></app-item>
  <div class="cart-footer">
    <div>
      <span>Fakturaavgift:</span>
      <span>
      {{invoiceCost.amount}} {{invoiceCost.currency | currencyType}}
      </span>
    </div>
    <div>
      <span>Totalt inkl. moms </span>
      <span class="total-amount">123 kr</span>
    </div>
  </div>
</div>
