.cart{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
}

.cart-footer{
  background: lightgrey;
  margin-top: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total-amount{
  font-size: 130%;
  font-weight: bold;
}
