.root{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: lightgrey;*/
  padding: 0 10px;
  width: 100%;
}
.section{
  max-width: 1170px;
  margin: 10px 10px;
  width: 100%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.75);
  background: linear-gradient(lightgrey, white);
  border-radius: 4px;
}
@media screen and (max-width: 1170px){
  .section{
    max-width: 970px;
  }
}
@media screen and (max-width: 970px){
  .section{
    max-width: 750px;
  }
}
