<div class="root">
  <h1>Car part webshop</h1>
  <div class="content">
    <app-cart class="section"></app-cart>
    <app-delivery class="section"></app-delivery>
    <app-payment class="section"></app-payment>
    <app-address class="section"></app-address>
  </div>

</div>
